.power-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-center{
    justify-content: center;
    align-items: center;
}

.box-container{
    margin: auto;
    cursor: pointer;
    transition: all 0.5s;
}

.c-black{
    color: black;
}